<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurone Onuraunon - Admin Panel | Problems</title>

    <%- include("admin-header") -%>
        <div class="fixed-action-button">
            <a href="/add-problem" class="add-button btn-floating btn-large blue btn-custom-admin">
                <i class="fa-solid fa-plus " style="color: #ffffff;"></i>
            </a>
        </div>

        <section class="problems-section">
            <div class="container">
                <div id="table-title">
                    <h1>Problems</h1>
                </div>
                <hr id="horizontal-rule">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Title</th>
                            <th scope="col">Statement</th>
                            <th scope="col">Solution</th>
                            <th scope="col">Points</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% problems.forEach((problem)=>{%>
                            <tr>
                                <th scope="row">
                                    <%= problem._id %>
                                </th>
                                <td>
                                    <%= problem.title %>
                                </td>
                                <td>
                                    <% const firstLineBreakIndex=problem.statement.indexOf('\n'); %>
                                        <%= firstLineBreakIndex !==-1 ? problem.statement.substring(0,
                                            firstLineBreakIndex) + "..." :problem.statement.substring(0, 100) + "..." %>
                                </td>
                                <td>
                                    <%= problem.solution %>
                                </td>
                                <td>
                                    <%= problem.points %>
                                </td>
                                <td>
                                    <div class="action-buttons">
                                        <a href="/update-problem/<%= problem._id %>"><button
                                                class="btn mb-3 btn-custom-admin"><i class="fa-solid fa-pen-to-square"
                                                    style="color: #ffffff;"></i></button></a>
                                        <a><button class="btn mb-3 btn-custom-admin view-problem-details"
                                                data-problem='<%- JSON.stringify(problem) %>'>
                                                <i class="fa-solid fa-eye" style="color: #ffffff;"></i>
                                            </button></a>
                                        <a href="/delete-problem/<%= problem._id %>"><button
                                                class="btn mb-0 btn-custom-admin-red"><i class="fa-solid fa-trash"
                                                    style="color: #ffffff;"></i></button></a>
                                    </div>
                                </td>
                            </tr>
                            <%}); %>
                    </tbody>
                </table>
            </div>
        </section>

        <div id="sidebar" class="sidebar">
            <div class="sidebar-content">
                <span class="close-sidebar" onclick="closeSidebar()">&times;</span>
                <h3>Problem Details</h3>
                <p><strong>ID:</strong> <span id="problem-id"></span></p>
                <p><strong>Title:</strong> <span id="problem-title"></span></p>
                <p><strong>Points:</strong> <span id="problem-points"></span></p>
                <p><strong>Solution:</strong> <span id="problem-solution"></span></p>
                <p><strong>Statement:</strong> <span id="problem-statement"></span></p>
                
            </div>
        </div>

        <script>
            function openSidebar(button) {
                const problemData = JSON.parse(button.getAttribute("data-problem"));
                console.log(problemData);
                document.getElementById("problem-id").textContent = problemData._id;
                document.getElementById("problem-title").textContent = problemData.title;
                document.getElementById("problem-points").textContent = problemData.points;
                document.getElementById("problem-solution").textContent = problemData.solution;
                document.getElementById("problem-statement").textContent = problemData.statement;
                
                document.getElementById("sidebar").style.width = "40%"; // Adjust the sidebar width as needed
                // document.body.style.overflow = "hidden"; // Prevent scrolling when sidebar is open
            }
        
            function closeSidebar() {
                document.getElementById("sidebar").style.width = "0";
                // document.body.style.overflow = "auto"; // Restore scrolling
                //document.getElementById("overlay").style.width = "0";
            }
        
            document.querySelectorAll(".view-problem-details").forEach(function(button) {
                button.addEventListener("click", function() {
                    openSidebar(button);
                });
            });
        </script>

        <%- include("../user/footer") -%>