<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neurone Onuraunon - Blog</title>
    <%- include("header") -%>
        <!-- <section id="blog-content">

            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>

                <div class="carousel-inner">
                    <div class="carousel-item active blog-c-item">
                        <img src="image/08.jpg" class="d-block w-100 blog-c-img" alt="">
                        <div class="blog-carousel-caption">
                            <h2 class="fs-10">100+ Members so far</h2>
                        </div>
                    </div>
                    <div class="carousel-item blog-c-item">
                        <img src="image/12.jpg" class="d-block w-100 blog-c-img" alt="">
                        <div class="blog-carousel-caption">
                            <h2>Arranged 3 Mathematics Olympiads</h2>
                        </div>
                    </div>
                    <div class="carousel-item blog-c-item">
                        <img src="image/24.jpg" class="d-block w-100 blog-c-img" alt="">
                        <div class="blog-carousel-caption">
                            <h2>50+ Articles and Discussions</h2>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>

        </section> -->
        <div class="container mt-5">
            <div id="table-title">
                <h1>The Knowledge Hub: Explore Our Latest Blog Posts</h1>
            </div>
            <hr id="horizontal-rule">
        </div>
        <section id="blogs">
            <div class="row custom-row mb-3">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <% for (const blog of blogs) { %>
                        <div class="col">
                            <div class="card h-100 custom-card" onclick="window.location.href='/blog/<%= blog._id %>';">
                                <img src="<%=blog.imageUrl%>" class="card-img-top custom-card-img" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title custom-card-title">
                                        <%= blog.title %>
                                    </h5>
                                    <p class="card-text">
                                        <% const firstLineBreakIndex=blog.description.indexOf('\n'); %>
                                            <%= firstLineBreakIndex !==-1 ? blog.description.substring(0,
                                                firstLineBreakIndex) + "..." : blog.description.substring(0, 150)
                                                + "..." %>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <small class="text-body-secondary">Last updated <%= blog.date.toDateString() %>
                                    </small>
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
            </div>
        </section>

        <%- include("footer") -%>