<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Neurone Onuraunon - Practice Problems</title>
  <%- include(isAdmin ? "../admin/admin-header" : "header") %>
    <!-- Problems Section -->
    <section id="problem-set">
      <div class="container mt-5">
        <div id="table-title">
          <h1>Math Problems</h1>
        </div>
        <hr id="horizontal-rule">
      </div>

      <div class="row custom-row">
        <div class="col-md-8 left-column">
          <div class="p-3 mb-2">
            <div class="dropdown mb-2">
              <button class="btn btn-secondary dropdown-toggle sort-by-button" type="button" id="sortByDropdown"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort By
              </button>
              <div class="dropdown-menu" aria-labelledby="sortByDropdown">
                <a class="dropdown-item" href="#">Most Solved</a>
                <a class="dropdown-item" href="#">Difficulty</a>
                <a class="dropdown-item" href="#">Newest</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 ms-auto right-column">
          
            <form action="/problems" method="GET">
              <div class="input-group mb-3">
                  <input type="text" class="form-control" name="keyword" placeholder="Search...">
                  <button class="btn btn-outline-secondary" type="submit">Search</button>
              </div>
          </form>
          </div>
        
      </div>

      <div class="row custom-row">
        <div class="col-md-8 left-column">
          <div class="container mt-2">
              <table class="table">
                  <% if (problems.length > 0) { %>
                      <% problems.forEach((problem)=> { %>
                          <tr class="link-cell" onclick="window.location.href='/problems/<%= problem._id %>';">
                              <td>
                                  <div>
                                      <%= problem.title %>
                                  </div>
                                  <div>Points: <%= problem.points %>
                                  </div>
                              </td>
                          </tr>
                          <tr class="spacer"></tr>
                      <% }); %>
                  <% } else { %>
                      <tr>
                          <td colspan="2">No Problems Found</td>
                      </tr>
                  <% } %>
              </table>
          </div>
      </div>

        <div class="col-md-4 mt-2 ms-auto right-column">
          <div class="p-3 mb-3 component">
            <h4>Component 2</h4>
            <p>This is the second component content.</p>
          </div>
          <div class="p-2 mb-1 component">
            <div class="container mt-2">
              <div>
                <h1 id="top-chart">Top Chart</h1>
              </div>
              <hr id="horizontal-rule">
            </div>

            <table class="table">
              <tbody>
                <% users.forEach((user, index) => { %>
                  <tr class="link-cell" onclick="window.location.href='<%= user._id %>';">
                    <td>
                      <div>#<%= index + 1 %></div>
                    </td>
                    <td>
                      <div><%= user.name %></div>
                    </td>
                    <td>
                      <div><%= user.totalPoints %></div>
                    </td>
                  </tr>
                  <tr class="spacer"></tr>
                <% }); %>
                <tr class="link-cell" onclick="window.location.href='link5.html';">
                  <td>
                    <div></div>
                  </td>
                  <td>
                    <div id="see">See all</div>
                  </td>
                  <td>
                    <div></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

      </div>

      <div class="container">
        <nav aria-label="...">
            <ul class="pagination">
                <% if (totalPages > 1) { %>
                    <% if (page > 1) { %>
                        <li class="page-item">
                            <a class="page-link" href="/problems?page=<%= page - 1 %>">Previous</a>
                        </li>
                    <% } %>
                    <% for (let i = 1; i <= totalPages; i++) { %>
                        <li class="page-item <%= page == i ? 'active' : '' %>">
                            <a class="page-link" href="/problems?page=<%= i %>"><%= i %></a>
                        </li>
                    <% } %>
                    <% if (page < totalPages) { %>
                        <li class="page-item">
                            <a class="page-link" href="/problems?page=<%= page + 1 %>">Next</a>
                        </li>
                    <% } %>
                <% } %>
            </ul>
        </nav>
    </div>
    
    


    </section>

    <%- include("footer") -%>